In [18]:
import os
import pandas as pd
import yfinance as yf
from glob import glob
from datetime import datetime, timedelta

In [19]:
csv_path = "Bist/*.csv"
csv_files = glob(csv_path)
bist = []

for file in csv_files:
    df = pd.read_csv(file, skiprows=2)
    df["Date"] = pd.to_datetime(df["Date"])
    df.columns = ["Date","Close", "High", "Low", "Open", "Volume"]
    with open(file, 'r') as f:
        second_line = f.readlines()[1]
        code = second_line.split(',')[1].strip()
    
    df.reset_index(drop=True, inplace=True)
    df[["Close", "High", "Low", "Open", "Volume"]] = df[["Close", "High", "Low", "Open", "Volume"]].astype(float)
    df["Change"] = df["Close"].pct_change() * 100
    df["Change"] = df["Change"].astype(float)
    df["OpenChange"] = df["Open"].pct_change() * 100 
    df["OpenChange"] = df["OpenChange"].astype(float)
    df = df.dropna()
    df.reset_index(drop=True, inplace=True)
    df.index.name = code
    
    bist.append(df)
    bist_file_path = os.path.join("Bist", f"{code[:-3]}.csv")
    df.to_csv(bist_file_path, index=False)
    print(f"{code[:-3]} işlenip kaydedildi.")

AKBNK işlenip kaydedildi.
ALARK işlenip kaydedildi.
ARCLK işlenip kaydedildi.
ASELS işlenip kaydedildi.
BIMAS işlenip kaydedildi.
BRSAN işlenip kaydedildi.
EKGYO işlenip kaydedildi.
EREGL işlenip kaydedildi.
FROTO işlenip kaydedildi.
GARAN işlenip kaydedildi.
GUBRF işlenip kaydedildi.
HEKTS işlenip kaydedildi.
KCHOL işlenip kaydedildi.
KOZAA işlenip kaydedildi.
KOZAL işlenip kaydedildi.
KRDMD işlenip kaydedildi.
MGROS işlenip kaydedildi.
PETKM işlenip kaydedildi.
PGSUS işlenip kaydedildi.
SAHOL işlenip kaydedildi.
SASA işlenip kaydedildi.
SISE işlenip kaydedildi.
SOKM işlenip kaydedildi.
TCELL işlenip kaydedildi.
THYAO işlenip kaydedildi.
TKFEN işlenip kaydedildi.
TOASO işlenip kaydedildi.
TUPRS işlenip kaydedildi.
VAKBN işlenip kaydedildi.
YKBNK işlenip kaydedildi.

In [20]:
bist[0]

,Date,Close,High,Low,Open,Volume,Change,OpenChange
AKBNK.IS,,,,,,,,
0,2005-07-12,1.615637,1.664969,1.615637,1.615637,3621046.0,-2.962960,-2.962960
1,2005-07-13,1.640303,1.664970,1.627970,1.640303,4087230.0,1.526716,1.526716
2,2005-07-14,1.640303,1.677303,1.640303,1.640303,6362800.0,0.000000,0.000000
3,2005-07-15,1.664969,1.689635,1.652636,1.664969,10779521.0,1.503758,1.503758
4,2005-07-18,1.640303,1.664970,1.640303,1.640303,3547624.0,-1.481480,-1.481480
...,...,...,...,...,...,...,...,...
5061,2025-04-04,52.250000,52.849998,51.400002,52.549999,109948487.0,-0.570883,-1.314555
5062,2025-04-07,52.099998,52.750000,49.740002,50.500000,158254026.0,-0.287084,-3.901045
5063,2025-04-08,51.950001,53.200001,51.599998,53.200001,105625239.0,-0.287903,5.346536
5064,2025-04-09,49.779999,51.700001,49.740002,51.200001,120588860.0,-4.177097,-3.759398
5065,2025-04-10,50.750000,52.250000,50.750000,52.000000,80583184.0,1.948576,1.562498

In [21]:
csv_path = "Test/*.csv"
csv_files = glob(csv_path)
test = []

for file in csv_files:
    df = pd.read_csv(file, skiprows=2)
    df["Date"] = pd.to_datetime(df["Date"])
    df.columns = ["Date","Close", "High", "Low", "Open", "Volume"]
    with open(file, 'r') as f:
        second_line = f.readlines()[1]
        code = second_line.split(',')[1].strip()
    
    df.reset_index(drop=True, inplace=True)
    df[["Close", "High", "Low", "Open", "Volume"]] = df[["Close", "High", "Low", "Open", "Volume"]].astype(float)
    df["Change"] = df["Close"].pct_change() * 100
    df["Change"] = df["Change"].astype(float)
    df["OpenChange"] = df["Open"].pct_change() * 100 
    df["OpenChange"] = df["OpenChange"].astype(float)
    df = df.dropna()
    df.reset_index(drop=True, inplace=True)
    df.index.name = code
    
    test.append(df)
    test_file_path = os.path.join("Test", f"{code[:-3]}T.csv")
    df.to_csv(test_file_path, index=False)
    print(f"{code[:-3]}T işlenip kaydedildi.")

AKBNKT işlenip kaydedildi.
ALARKT işlenip kaydedildi.
ARCLKT işlenip kaydedildi.
ASELST işlenip kaydedildi.
BIMAST işlenip kaydedildi.
BRSANT işlenip kaydedildi.
EKGYOT işlenip kaydedildi.
EREGLT işlenip kaydedildi.
FROTOT işlenip kaydedildi.
GARANT işlenip kaydedildi.
GUBRFT işlenip kaydedildi.
HEKTST işlenip kaydedildi.
KCHOLT işlenip kaydedildi.
KOZAAT işlenip kaydedildi.
KOZALT işlenip kaydedildi.
KRDMDT işlenip kaydedildi.
MGROST işlenip kaydedildi.
PETKMT işlenip kaydedildi.
PGSUST işlenip kaydedildi.
SAHOLT işlenip kaydedildi.
SASAT işlenip kaydedildi.
SISET işlenip kaydedildi.
SOKMT işlenip kaydedildi.
TCELLT işlenip kaydedildi.
THYAOT işlenip kaydedildi.
TKFENT işlenip kaydedildi.
TOASOT işlenip kaydedildi.
TUPRST işlenip kaydedildi.
VAKBNT işlenip kaydedildi.
YKBNKT işlenip kaydedildi.

In [22]:
test[0]

,Date,Close,High,Low,Open,Volume,Change,OpenChange
AKBNK.IS,,,,,,,,
0,2025-01-29,64.559784,66.124868,64.461968,65.929235,76913164.0,-1.639344,1.049480
1,2025-01-30,64.070694,65.097784,63.972878,64.755416,61541114.0,-0.757577,-1.780423
2,2025-01-31,63.434879,65.440148,63.434879,64.510874,109025124.0,-0.992364,-0.377639
3,2025-02-03,62.407791,63.239245,60.255798,62.652340,126671721.0,-1.619122,-2.880963
4,2025-02-04,64.266327,65.293417,62.212153,62.847971,106971884.0,2.978051,0.312249
...,...,...,...,...,...,...,...,...
61,2025-04-29,48.939999,49.740002,48.740002,49.380001,90830204.0,-0.850895,-4.855492
62,2025-04-30,48.500000,49.279999,47.880001,49.099998,117050993.0,-0.899057,-0.567036
63,2025-05-02,49.500000,49.759998,48.639999,48.820000,76343374.0,2.061856,-0.570262
64,2025-05-05,48.580002,50.650002,48.580002,50.250000,64057251.0,-1.858582,2.929128
65,2025-05-06,49.259998,50.099998,48.580002,48.580002,109155346.0,1.399746,-3.323379

In [2]:
# Klasörler
bist_path = "Bist/*.csv"
test_path = "Test/*.csv"

# Saat kontrolü
now = datetime.now()
if now.hour < 18:
    print("Saat 18:00'den önce, işlem yapılmayacak.")
    exit()

# Tüm test dosyalarını işleyelim
test_files = glob(test_path)

for test_file in test_files:
    code = os.path.basename(test_file).replace(".csv", "")
    bist_file = test_file.replace("Test", "Bist")

    # Test ve Bist verilerini oku
    test_df = pd.read_csv(test_file)
    bist_df = pd.read_csv(bist_file)

    # Sütun adlarını yazdırarak kontrol et
    print(f"{test_file} sütun adları: {test_df.columns}")
    print(f"{bist_file} sütun adları: {bist_df.columns}")

    # Eğer "Date" sütunu yoksa, ilk sütunu datetime olarak alalım
    if 'Date' not in test_df.columns:
        test_df.columns = ['Date', 'Close', 'High', 'Low', 'Open', 'Volume']
    
    if 'Date' not in bist_df.columns:
        bist_df.columns = ['Date', 'Close', 'High', 'Low', 'Open', 'Volume']

    test_df["Date"] = pd.to_datetime(test_df["Date"])
    bist_df["Date"] = pd.to_datetime(bist_df["Date"])

    last_date = test_df["Date"].max()
    next_date = last_date + timedelta(days=1)

    # Yarının verisi var mı kontrol et
    new_data = yf.download(f"{code}.IS", start=next_date.strftime("%Y-%m-%d"), progress=False)

    if new_data.empty:
        print(f"{code}: Yeni veri bulunamadı.")
        continue

    new_data = new_data.reset_index()[["Date", "Close", "High", "Low", "Open", "Volume"]]
    new_data["Change"] = new_data["Close"].pct_change() * 100
    new_data["OpenChange"] = new_data["Open"].pct_change() * 100
    new_data = new_data.dropna()

    if new_data.empty:
        print(f"{code}: İşlenebilir yeni veri yok.")
        continue

    print(f"{code}: {len(new_data)} satır yeni veri eklenecek.")

    # Veri kaydırma işlemi
    n = len(new_data)

    # Test verisine ekle
    test_df = pd.concat([test_df, new_data], ignore_index=True)

    # Testin başından n satır al, bist'in sonuna ekle
    moved_data = test_df.iloc[:n]
    bist_df = pd.concat([bist_df, moved_data], ignore_index=True)

    # Bist'in başından n satır sil
    bist_df = bist_df.iloc[n:].reset_index(drop=True)

    # Test'in başından n satır sil
    test_df = test_df.iloc[n:].reset_index(drop=True)

    # Kaydet
    test_df.to_csv(test_file, index=False)
    bist_df.to_csv(bist_file, index=False)

print("Güncelleme tamamlandı.")

Test\AKBNK.csv sütun adları: Index(['Price', 'Close', 'High', 'Low', 'Open', 'Volume'], dtype='object')
Bist\AKBNK.csv sütun adları: Index(['Price', 'Close', 'High', 'Low', 'Open', 'Volume'], dtype='object')

C:\Users\boss\AppData\Local\Temp\ipykernel_25136\522405179.py:39: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  test_df["Date"] = pd.to_datetime(test_df["Date"])

DateParseError: Unknown datetime string format, unable to parse: Ticker, at position 0